html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    /* background-color: bisque; */
    max-width: 100%;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: white;
    z-index: 10;
    position: relative;
}

navbar{
    display: flex;
    justify-content: space-between;
    width: 30%;
    z-index: 10;
}

.sidebar{
    position: fixed;
    top: 5rem;
    right: 20px;
    height: 41vh;
    width: 90%;
    z-index: 999;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
navbar li{
    cursor: pointer;
    height: 93%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent; 
    transition: border-bottom 0.3s ease;
    color: grey;
}

navbar li:hover {
    border-image: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%)) 1;
    color: hsl(233, 26%, 24%);
}

button{
    background: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    padding: 0.8rem;
    width: 11rem;
    border: none;
    border-radius:5rem ;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease; 
}   


.toggle-buttons{
    display: none;
}


button:hover {
    opacity: 0.6;
}
.next-gen{
    width: 100%;
    height: 96vh;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: space-between;
    background: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 100vh;
    background-position-y: -36vh;
}

.container{
    width: 30%;
    height: 20rem;

    padding: 11rem 0 0 11rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
}
.container h2{
    font-size: 3.5rem;
    color: hsl(233, 26%, 24%);
}
.container p{
    color: hsl(233, 8%, 62%);
    line-height: 30px;
}

.mobile-img{
    position: relative;
    top: -6.1rem;
    right: -7rem;
}

.mobile-img img{
    scale:1.05;
}




.choose{
    background-color: #F4F5F7;
    padding: 7rem 11rem 7rem 11rem;
}

.why-easybank{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 28%;
    
}
.why-easybank h2{
    font-size: 2.5rem;
    color: hsl(233, 26%, 24%);
}
.why-easybank p{
    color: hsl(233, 8%, 62%);
    line-height: 30px;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    height: 60%;
    /* background-color: antiquewhite; */
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: black; */
    width: 23%;
}

.choose .cards-container .card p{
    line-height: 28px;
    color:hsl(233, 8%, 62%);
    font-size: 1rem;
}
.choose .cards-container .card h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.why-details{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article{
    background-color: #fafafa;
    padding: 7rem 11rem 7rem 11rem;   
}

.article-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
}
.article-div .cards-container{
    height: auto;
}
.article-div h3{
    font-size: 2.5rem;
    font-weight: 400;
    height: 10%;
    color: hsl(233, 26%, 24%);
}
article .cards-container .card img{
    height: 10rem;    
    width: 100%;
}
.article-div .cards-container .card p{
    color:hsl(233, 8%, 62%);
    font-size: small;
    line-height: 1.10rem;
}
article .cards-container .card{
    background-color: #ffffff;
    height: 22rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 23%;
    overflow: hidden;
}
.review-name{
    font-size: 0.7rem;
}

.second{
    height: 50%;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second h2{
    cursor: pointer;
    /* transition: color 3s ease-in-out; */
    color: black;
}
.second h2:hover{
    color: hsl(136, 65%, 51%);
}


footer{
    height: 11rem;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
}
footer div{
    width: 10%;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: medium;
}
.social-logo,.about-us,.career{
    height: 90%;
    width: 23%;
}
.social-logo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 100%;
}

.copyright{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.copyright p{
    height: 2rem;
    font-size: small;
    color: grey;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: svg 3s ease-in-out;
}
.social-icons svg:hover path {
    fill: hsl(136, 65%, 51%);
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 100%;
}   
.about-us ul{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-us li{
    cursor: pointer;
}
.about-us li:hover{
    color: hsl(136, 65%, 51%);
}

.career{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 100%;
}
.career ul{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.career li{
    cursor: pointer;
}
.career li:hover{
    color: hsl(136, 65%, 51%);
}
.cr-button{
    width: auto;
    background-color: #F4F5F7;
    margin-top: 2rem;
    border-radius:5rem ;
}




@media screen and (max-width:375px){
    .nav-ul{
        display: none;
    }
    .sidebar{
        /* display: none; */

    }

    header{
        justify-content: space-between;
    }
    .header-logo{
        padding-left: 2rem;
    }
    .toggle-buttons{
        display: block;
        padding-right: 2rem;
    }
    .toggle-nav{
        display: block;
    }
    .toggle-nav-close{
        display: none;
        position: absolute;
        right: 35px;
        top: 23px;
    }
    header button{
        display: none;
    }
    .mobile-img{
        /* display: none; */
        height: 50%;
        scale: 0.4;
        position: relative;
        top: -12.2rem;
        right: 0rem;

    }
    .next-gen{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .container{
        padding: 0;
        width: 90vw;
        height: 38%;
        order: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .container button{
        align-items: center;
    }
    .container h2{
        font-size: 2.5rem;
    }
    .container p{
        font-size: 0.99rem;
        text-align: center;
        line-height: 20px;
    }

    .choose{
        /* display: none; */
        padding: 2rem;
        /* height: 100vh; */
    }

    .card{
        width: 100%;
        align-items: center;
        height: 14rem;
        margin-top: 4rem;
    }
    .cards-container{
        flex-direction: column;
        align-items: center;
    }
    .choose .cards-container .card p {
        text-align: center;
        
    }
    .why-details{
        align-items: center;
        height: auto;
    }
    .why-easybank {
        width: 100%;
        height: 24vh;
        align-items: center;
    }
    .why-easybank h2 {
        font-size: 2rem;
        color: hsl(233, 26%, 24%);
        text-align: center;
    }
    .why-easybank p {
        text-align: center;
        line-height: 25px;
        font-size: 0.94rem;
    }
    article{
        /* display: none; */
        padding: 2rem;
        height: auto;
    }
    .article-div h3 {
        text-align: center;
        font-size: 2rem;
    }
    .article-div {
        height: fit-content;
    }
    article .cards-container .card {
        width: 100%;
    }
    footer{
        /* display: none; */
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .social{
        flex-direction: column;  
        
    }
    .social-logo{
        width: 100%;
        height: 7rem;
    }
    .footer-svg{
        align-self: center;
    }
    .about-us{
        width: 100%;
        align-items: center;
        height: 7rem;
    }
    .about-us ul{
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    .career ul{
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-bottom: 2rem;
    }
    .career{
        width: 100%;
        align-items: center;
        height: 7rem;
    }
    .copyright{
        width: 100%;
        height: 10rem;
        align-items: center;
    }
    .cr-button{
        margin: 0;
    }
}